.zuromenu.popup-menu-content {
    padding: 5px;
}

/** Entries *******************************************************************/

.zuromenu .entry {
    padding: 0px 0px;
    border-radius: 0px;
    color: #000;
    border: 0px solid #ccc;
    box-shadow: inset 0px 0px 0px 0px #fff;
    font-size: 24px;
    font-weight: normal;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0);
    caret-color: #333;
    caret-size: 1px;
    selection-background-color: #006aff;
    selected-color: #fff;
    height: 30px;
}

.zuromenu .entry:focus,
.zuromenu .entry:hover {
    border-radius: 0px;
    color: #000;
    border: 0px solid #6bb2e1;
    box-shadow: inset 0px 0px 0px 0px #c7deee;
}

/** Buttons *******************************************************************/

.zuromenu .button {
    padding: 3px;
    border-radius: 2.5px;
    border: none;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
    color: black;
}

.zuromenu .button.switcher {
    padding: 7px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.20);
    text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
    font-size: 0px;

}

.zuromenu .button.switcher:active,
.zuromenu .button.switcher:checked,
.zuromenu .button.switcher:hover:active,
.zuromenu .button.switcher:hover:checked {
    background-color: #006aff;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
}

.zuromenu .button:active,
.zuromenu .button:checked,
.zuromenu .button:hover:active,
.zuromenu .button:hover:checked {
    background-color: #006aff;
    color: white;
}

/** App Buttons ***************************************************************/

.zuromenu .button.app {
    border-width: 0px;
    color: black;
}

.zuromenu .app:hover {
    background-color: #006aff;
    color: white;
}

.zuromenu .app:focus {
    background-color: #006aff;
    color: white;
}

/** Sidebar Buttons ***********************************************************/

.zuromenu .sidebar .button {
	padding: 5px;
    border-radius: 0;
    border-top: 1px;
    font-size: 13px;
    border-right: 0;
    border-radius: 3px;
    border-bottom: 1px;
    border-left: 0;
    border-color: transparent;
    background-color: transparent;
    border-radius-bottomright: 3px;
    border-radius-topright: 3px;
}

.zuromenu .sidebar .button:active,
.zuromenu .sidebar .button:hover:active {
    background-color: #006aff;
    border-color: transparent;
    box-shadow: inset 0 0 0 transparent;
}

.zuromenu .sidebar .button:checked,
.zuromenu .sidebar .button:hover:checked,
.zuromenu .sidebar .button:active:checked {
    border-color: rgba(0, 0, 0, 0);
    background-color: #006aff;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
}

.zuromenu .entry,
.zuromenu .sidebar .button {
    text-shadow: 0 1 alpha (#fff, 0.4);
    icon-shadow: 0 1 alpha (#fff, 0.4);
}

/** Linked Buttons ************************************************************/

/* Middle button */
.zuromenu .linked .button,
.zuromenu .linked .button:active,
.zuromenu .linked .button:active:hover,
.zuromenu .linked .button:focus,
.zuromenu .linked .button:focus:active,
.zuromenu .linked .button:insensitive {
    border-right-width: 0px;
    border-radius: 0px;
}

/* Leftmost button */
.zuromenu .linked .button:first-child,
.zuromenu .linked .button:active:first-child,
.zuromenu .linked .button:active:hover:first-child,
.zuromenu .linked .button:focus:first-child,
.zuromenu .linked .button:focus:active:first-child,
.zuromenu .linked .button:insensitive:first-child {
    border-radius-bottomright: 0px;
    border-radius-topright: 0px;
    border-radius-bottomleft: 2.5px;
    border-radius-topleft: 2.5px;
}

/* Rightmost button */
.zuromenu .linked .button:last-child,
.zuromenu .linked .button:active:last-child,
.zuromenu .linked .button:active:hover:last-child,
.zuromenu .linked .button:focus:last-child,
.zuromenu .linked .button:focus:active:last-child,
.zuromenu .linked .button:insensitive:last-child {
    border-right-width: 1px;
    border-radius-bottomright: 2.5px;
    border-radius-topright: 2.5px;
    border-radius-bottomleft: 0px;
    border-radius-topleft: 0px;
}

/* Linked single button */
.zuromenu .linked .button:only-child,
.zuromenu .linked .button:active:only-child,
.zuromenu .linked .button:active:hover:only-child,
.zuromenu .linked .button:focus:only-child,
.zuromenu .linked .button:focus:active:only-child,
.zuromenu .linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 2.5px;
}

.zuromenu .separator {
    background-color: rgba(0, 0, 0, 0);
}
